<div class="wrapper fadeInDown" id="login-container">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="template/img/kraken.png" id="icon" alt="Icon" />
      </div>
  
      <!-- Login Form -->
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <input type="text" id="email" class="fadeIn second" #email="ngModel" name="email" [(ngModel)]="user.email"  placeholder="email" required>
        <input type="password" id="password" class="fadeIn third" #password="ngModel" name ="password" [(ngModel)]="user.password" placeholder="password" required>
        <input type="submit" class="fadeIn fourth" value="Enter">
      </form>
      <div class="alert alert-danger errorMessage" role="alert">
        {{ errorMessage }}
      </div>
  
      <!-- Register -->
      <div id="formFooter"> 
        <a [routerLink]="['/register']" class="underlineHover">Sing up</a>
      </div>
  
    </div>
  </div>